# OpenAI API Configuration
OPENAI_API_KEY=your_openai_api_key_here
NEXT_PUBLIC_API_KEY=your_public_api_key_here

# Solana Configuration
NEXT_PUBLIC_HELIUS_API_KEY=your_helius_api_key_here
NEXT_PUBLIC_SOLANA_RPC_URL=https://sonic.helius-rpc.com/?api-key=${NEXT_PUBLIC_HELIUS_API_KEY}
NEXT_PUBLIC_SOLANA_WEBSOCKET_URL=wss://sonic.helius-rpc.com/?api-key=${NEXT_PUBLIC_HELIUS_API_KEY}
NEXT_PUBLIC_SONIC_TOKEN_MINT=7rh23QToLTBmYxR5jDiRbUtqcGey4xjDeU9JmtX6QChe
